<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Password App</h1>
    <div class="buttons">
        <a href="{{ url_for('password_generator') }}" class="btn">Password Generator</a>
        <a href="{{ url_for('password_checker') }}" class="btn">Password Checker</a>
    </div>
</body>
</html>