<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Checker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Password Checker</h1>
    <form action="{{ url_for('password_checker') }}" method="post">
        <label for="password">Enter Password:</label>
        <input type="text" id="password" name="password" required>
        <button type="submit" class="btn">Check Password</button>
    </form>
    {% if feedback %}
        <div class="password-feedback">
            <h2>Password Feedback:</h2>
            <p>{{ feedback }}</p>
            {% if suggested_password %}
                <p>Suggested Password: {{ suggested_password }}</p>
            {% endif %}
        </div>
    {% endif %}
</body>
</html>